body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #333;
  color: white;
}
/** Header **/

#header-nav {
  background-color: #819CAD;
  border-radius: 0px;
  border: 0px;
  padding: 10px 15px 25px 0px;

}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.5;
  color: white;
  font-weight: initial;
}

.navbar-default button.navbar-toggle .icon-bar{
  background-color: white;
}


#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: white;
}

#nav-list a:hover {
  color: #121212;
  background-color: white;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -35px;
  border: 2px solid white;
}
/** End Header **/

.navbar-header button.navbar-toggle:hover{
  background-color: #286090;
}

#titleOne{ 
  text-align: center;
  margin-bottom: 25px;
  margin-top: 5px;

}

section {
  background-color: #819CAD;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 25px;
}

#back-top{
  text-decoration: none;
  color: #286090;
}



